
.atlaskit-portal-container {
    position: fixed;
    z-index: 10000;
}

.dynamic-form {
    max-height: 150px;
    overflow: auto;
}

.btn-close {
    margin-left: 10px !important;
}

.btn-back {
    margin-left: 20px !important;
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
    position: relative;
    padding: 0;
    background: transparent;
    border: none;
}
