.bar-btn {
    height: 35px;
    width: 35px;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: all 0.2s ease-in-out;  
}

.bar-btn:hover {
    cursor: default;
    transform: scale(3);
}
