.bar-btn {
    height: 35px;
    width: 35px;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: all 0.2s ease-in-out;  
}

.bar-btn:hover {
    transform: scale(3);
}

.add-btn {
    position: absolute;
    right: -35px;
    height: 35px;
    width: 35px;
    font-size: 1.3rem;
    padding: 0;
    border: none;
    background-color: transparent;
}
.btn-node {
    width: 35px;
    height: 35px;
    font-size: 1.3rem;
    position: relative;
    padding: 0;
    background: transparent;
    border: none;
}