.bar-btn {
    height: 35px;
    width: 35px;
    background-color: white;
    padding: 0;
    border: none;
}

.bar-btn:hover {
    cursor: default;
}

.bar {
    transition: all 0.2s ease-in-out;  
}

.bar:hover {
    transform: scale(3);
}