.rst__node {
    z-index: 0;
}

.rst__node:hover {
    z-index: 1;
}

.rst_row {
}

.rst__rowContents {
    min-width: 100px !important;
    border-radius: 10px;
}

.rst__moveHandle {
    border-radius: 10px;
}