@media screen and (max-width: 1360px) {
    .App .content {
        padding-left: 110px;
        box-sizing: border-box;
    }
}

body {
    height: 100vh;
    overflow-y: hidden;
}

.content {
    height: 100vh;
}