.container {
    padding: 0;
}

.page-width {
    width: 80vw;
}

.content {
    padding-left: 0px !important;
    margin-right: 100px;
}

@media screen and (max-width: 1600px) {
    .content {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1275px) {
    .content {
        margin-left: 100px;
    }
}